<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NvApp" value="C:\Users\ist\AppData\Local\Apps\2.0\T7QV6O71.9ZN\VRZOTWTZ.BDD\pure..tion_0000000000000000_0001.0000_604c347e04e404bd\PureNV.exe" />
		<add key="ServerCon" value="data source=64.20.33.66;initial catalog=vendingcDB; User Id = vending1; Password =$C69ya8i; integrated security=False;" />
		<add key="LocalCon" value="data source=DESKTOP-2QQTON3;initial catalog=LocDBKiosk; integrated security=True;" />
		<add key="NOTE_PORT" value="COM3" />
		<add key="PAYCARD_PORT" value="COM4" />
		<add key="PAN" value="533338625094994" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="KioskDBConnectionString"
		connectionString="Data Source=.;Initial Catalog=KioskLDB;Integrated Security=true"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>